@mixin button($bg-color){
  display: block;
  margin: 0 auto;
  padding: .5em 1em;
  border-radius: 20px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  width: 17.7%;
  text-align: center;
  background-color: $primary;
}