html {
    font-family: $helvetica;
}

body {
    background-image: url(../images/underwater.jpg);
    background-size: cover;
}

h1 {
    color: #fff;
    font-family: 'helvetica';
    font-size: 10em;
    text-align: center;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.primary-btn{
  @include button(#fff);
}

.btn i{
    vertical-align: middle;
    padding-right: .5em;
}

.icon-shark {
    color: #001f3f;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 4em;
}